<%= issue_presenter.present %>

/cc @gl-quality/dev-qe @gl-quality/ci-cd-ops-qe @gl-quality/growth-qe @gl-quality/enablement-qe

<% if ENV['CI_PIPELINE_TRIGGERED'] -%>
---

:robot: This issue was generated via [triggered pipeline](<%= ENV['CI_JOB_URL'] %>).

/confidential
<% end -%>
